<h1>Welcome to Amaizing trip ! </h1>

<p>The website where you can display the photos of your most amaizing travels and discover some from trippy fellows like you ! </p>

<p> 
	<a href="#"> Sign Up Now ! </a>
</p>


	